In [11]:
import pandas as pd

In [12]:
import psycopg2

In [13]:
conn = psycopg2.connect(
    dbname='neenopal',  
    user='postgres',    
    password='postgres',
    host='localhost',        
    port='5432'              
)

In [14]:
cursor = conn.cursor()

In [15]:
#creating a table to store the csv data 


cursor.execute("""
    CREATE TABLE table3 (
    bike_name VARCHAR(255),
    price INTEGER,
    city VARCHAR(255),
    kms_driven INTEGER,
    owner VARCHAR(255),
    age INTEGER,
    power INTEGER,
    brand VARCHAR(255)
);
""");

In [16]:
conn.commit()

In [17]:
# reading csv data using pandas 

df = pd.read_csv('used_bikes.csv')

In [18]:
for i in range(len(df)):
    cursor.execute(
        "INSERT INTO table3 (bike_name,price,city,kms_driven,owner,age,power,brand) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)",
        (df.iloc[i]['bike_name'], df.iloc[i]['price'], df.iloc[i]['city'],df.iloc[i]['kms_driven'],
         df.iloc[i]['owner'],df.iloc[i]['age'],df.iloc[i]['power'],df.iloc[i]['brand'])
    )

In [19]:
conn.commit()

In [20]:
cursor.execute("SELECT pg_size_pretty(pg_total_relation_size('table3'))")

size = cursor.fetchone()[0]
print(f"Size of the table in schema 1 : {size}")

Size of the table in schema 1 : 48 kB

In [21]:
# creating another table with different data types 


cursor.execute("""
    CREATE TABLE table4 (
    bike_name VARCHAR(255),
    price VARCHAR(255),
    city VARCHAR(255),
    kms_driven VARCHAR(255),
    owner VARCHAR(255),
    age VARCHAR(255),
    power VARCHAR(255),
    brand VARCHAR(255)
);
""");

In [22]:
conn.commit()

In [24]:
cursor.execute("""DROP INDEX IF EXISTS bike_name;""")

conn.commit()

In [25]:
for i in range(len(df)):
    cursor.execute(
        "INSERT INTO table4 (bike_name,price,city,kms_driven,owner,age,power,brand) VALUES (%s,%s,%s,%s,%s,%s,%s,%s)",
        (df.iloc[i]['bike_name'], df.iloc[i]['price'], df.iloc[i]['city'],df.iloc[i]['kms_driven'],
         df.iloc[i]['owner'],df.iloc[i]['age'],df.iloc[i]['power'],df.iloc[i]['brand'])
    )

In [26]:
conn.commit()

In [27]:
cursor.execute("SELECT pg_size_pretty(pg_total_relation_size('table4'))")

size = cursor.fetchone()[0]
print(f"Size of the table in schema 2 : {size}")

Size of the table in schema 2 : 56 kB

In [28]:
# schema 1 is where number is given a INTEGER data type which takes a fixed amount of data

# where in schema 2 everything is given varchar which mean even numbers are taken as strings and take space based 
# on the length of number that's why this takes more data 


cursor.execute(""" CREATE INDEX bike_name ON table4 (bike_name);
""")

conn.commit()